@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@300&family=Tangerine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

.header {
  display: flex;
  background-color: black;
  color: white;
  flex-wrap: wrap; }
  .header .header--logo {
    max-width: 60px;
    height: 56px; }
  .header .header--title {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .header .nav {
    width: 100%;
    margin-left: auto; }
    .header .nav ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap; }
      .header .nav ul li {
        font-size: 20px;
        display: inline-block;
        list-style: none; }
        .header .nav ul li a {
          text-decoration: none;
          color: white;
          transition: .4s; }
          .header .nav ul li a:hover {
            font-size: 23px;
            color: green; }

main {
  background-color: bisque;
  padding-top: 20px;
  padding-bottom: 20px; }
  main .section1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    main .section1 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      main .section1 .div--img img {
        width: 100%; }
    main .section1 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  main .section2 {
    flex-direction: row; }
  main .section2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    main .section2 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      main .section2 .div--img img {
        width: 100%; }
    main .section2 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  main .section2 {
    flex-direction: row; }
  main .section3 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    main .section3 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      main .section3 .div--img img {
        width: 100%; }
    main .section3 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  main .section2 {
    flex-direction: row; }

footer {
  background-color: black;
  padding-bottom: 10px;
  text-align: center; }
  footer h3 {
    padding-top: 5px;
    color: white; }

@media (max-width: 768px) {
  .nav ul {
    justify-content: center;
    flex-direction: column;
    text-align: center; } }
