@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@300&family=Tangerine:wght@700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-weight: 400; }

.header {
  grid-area: header;
  display: flex;
  background-color: #080407;
  color: white;
  flex-wrap: wrap; }
  .header .header--logo {
    max-width: 60px;
    height: 56px; }
  .header .header--title {
    margin-left: 1.8vw; }

.nav {
  background-color: #080407;
  width: 100%;
  grid-area: nav;
  margin-left: auto; }
  .nav div {
    margin: 0; }
    .nav div button {
      top: 5px;
      right: 5px;
      position: absolute; }
    .nav div div {
      margin: 0; }
      .nav div div ul {
        text-align: center;
        width: 100%;
        justify-content: flex-end; }
        .nav div div ul li a {
          color: white;
          background-image: radial-gradient(red, yellow);
          background-position: 0% 100%;
          background-size: 0% 0%, 2.5px;
          transition: .3s; }
          .nav div div ul li a:hover {
            color: green;
            font-size: 20px;
            background-size: 100% 1px; }
          .nav div div ul li a:after {
            background-size: 100% 0%,2.5px; }

@media (max-width: 990px) {
  .nav {
    max-width: 100vw;
    min-height: 50px; }
    .nav ul {
      height: calc(100vh/3.3);
      justify-content: center;
      flex-direction: column;
      text-align: center; } }

.footer {
  grid-area: footer;
  background-color: black;
  padding-bottom: 10px;
  text-align: center; }
  .footer h3 {
    padding-top: 5px;
    color: white; }

.grid {
  background-color: #52513C;
  display: grid;
  grid-template-areas: "header nav" "main main" "footer footer"; }

.main {
  grid-area: main;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white; }
  .main .section1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    .main .section1 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      .main .section1 .div--img img {
        width: 100%; }
    .main .section1 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  .main .section2 {
    flex-direction: row; }
  .main .section2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    .main .section2 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      .main .section2 .div--img img {
        width: 100%; }
    .main .section2 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  .main .section2 {
    flex-direction: row; }
  .main .section3 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    .main .section3 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      .main .section3 .div--img img {
        width: 100%; }
    .main .section3 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  .main .section2 {
    flex-direction: row; }

@media (max-width: 990px) {
  .grid {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; } }

.grid-tools {
  background-color: #52513C; }

.main-tools {
  background-color: #15215A;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  flex-wrap: wrap; }
  .main-tools .section1 {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1E3A2E;
    color: white;
    width: 90%;
    max-width: 600px;
    border: .1px solid black; }
    .main-tools .section1 img {
      margin-bottom: 25px;
      height: 200px;
      width: 90%;
      object-fit: cover; }
  .main-tools .section2 {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1E3A2E;
    color: white;
    width: 90%;
    max-width: 600px;
    border: .1px solid black; }
    .main-tools .section2 img {
      margin-bottom: 25px;
      height: 200px;
      width: 90%;
      object-fit: cover; }

.main-about-me {
  display: flex;
  flex-wrap: wrap;
  background-color: #351C29;
  justify-content: space-evenly; }
  .main-about-me .section1 {
    width: 90%;
    max-width: 600px;
    background-color: #15215A;
    text-align: center;
    color: white;
    margin: 5px;
    padding-bottom: 10px; }
    .main-about-me .section1 img {
      width: 95%; }
  .main-about-me .section2 img {
    margin-top: 24px; }
  .main-about-me .section2 {
    width: 90%;
    max-width: 600px;
    background-color: #15215A;
    text-align: center;
    color: white;
    margin: 5px;
    padding-bottom: 10px; }
    .main-about-me .section2 img {
      width: 95%; }
  .main-about-me .section2 img {
    margin-top: 24px; }

.main-education {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  background-color: #52513C; }
  .main-education .section1 {
    background-color: #15215A;
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 10px; }
    .main-education .section1 img {
      object-fit: cover;
      margin-bottom: 10px;
      width: 90%;
      height: 300px; }
  .main-education .section2 img {
    margin-top: 25px; }
  .main-education .section2 {
    background-color: #15215A;
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 10px; }
    .main-education .section2 img {
      object-fit: cover;
      margin-bottom: 10px;
      width: 90%;
      height: 300px; }
  .main-education .section2 img {
    margin-top: 25px; }
  .main-education .section3 {
    background-color: #15215A;
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 10px; }
    .main-education .section3 img {
      object-fit: cover;
      margin-bottom: 10px;
      width: 90%;
      height: 300px; }
  .main-education .section2 img {
    margin-top: 25px; }

.grid-contact {
  background-color: #1E3A2E;
  display: grid;
  grid-template-areas: "header nav" "mainContact mainContact" "footer footer"; }

.main-contact {
  grid-area: mainContact;
  margin: 5px 0px 5px 0px; }
  .main-contact .formulario {
    display: flex;
    flex-direction: column;
    background-color: #52513C;
    width: 80%;
    max-width: 900px;
    margin: auto;
    text-align: center;
    grid-area: formulario;
    color: white; }
    .main-contact .formulario div {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      width: 70%;
      font-weight: bold; }
      .main-contact .formulario div input {
        transition: .1s;
        border: none;
        border-radius: 15px 15px 0 15px;
        padding-left: 5px;
        font-weight: bold;
        text-align: center;
        outline: none; }
        .main-contact .formulario div input:hover {
          border-bottom: .1px solid black; }
      .main-contact .formulario div .envio {
        margin-bottom: 5px; }
      .main-contact .formulario div .resetear {
        margin-bottom: 5px; }
      .main-contact .formulario div textarea {
        outline: none;
        transition: .1s;
        border: .1px solid black;
        border-radius: 15px 0 0 0;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px; }
