@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@300&family=Tangerine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

.grid {
  background-color: bisque; }

.header {
  grid-area: header;
  display: flex;
  background-color: black;
  color: white;
  flex-wrap: wrap; }
  .header .header--logo {
    max-width: 60px;
    height: 56px; }
  .header .header--title {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

.nav {
  background-color: black;
  width: 100%;
  max-width: 225px;
  min-height: 50px;
  margin-left: auto;
  grid-area: nav; }
  .nav div {
    margin-top: 15px; }
    .nav div button {
      top: 5px;
      right: 5px;
      position: absolute; }
    .nav div div ul {
      text-align: center;
      width: 100%; }
      .nav div div ul li a {
        color: white; }

.main {
  grid-area: main;
  padding-top: 20px;
  padding-bottom: 20px; }
  .main .section1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    .main .section1 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      .main .section1 .div--img img {
        width: 100%; }
    .main .section1 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  .main .section2 {
    flex-direction: row; }
  .main .section2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    .main .section2 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      .main .section2 .div--img img {
        width: 100%; }
    .main .section2 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  .main .section2 {
    flex-direction: row; }
  .main .section3 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; }
    .main .section3 .div--img {
      width: 90%;
      max-width: 700px;
      margin: auto; }
      .main .section3 .div--img img {
        width: 100%; }
    .main .section3 .div--lorem {
      max-width: 540px;
      margin: auto;
      text-align: center;
      width: 90%; }
  .main .section2 {
    flex-direction: row; }

.footer {
  grid-area: footer;
  background-color: black;
  padding-bottom: 10px;
  text-align: center; }
  .footer h3 {
    padding-top: 5px;
    color: white; }

@media (max-width: 990px) {
  .grid {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .nav {
    max-width: 100vw; }
    .nav ul {
      height: calc(100vh/5);
      justify-content: center;
      flex-direction: column;
      text-align: center; } }

@media (min-width: 999px) {
  .grid {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: "header nav" "main main" "footer footer"; }
  .nav {
    max-width: none; }
    .nav div {
      margin: 0; }
      .nav div div {
        margin: 0; }
        .nav div div ul {
          margin-left: auto; } }
