.header{
    grid-area: header;
    display: flex;
    background-color: $black;
    color: $white ;
    flex-wrap: wrap;
    .header--logo{
        max-width: 60px;
        height: 56px;
    }
    .header--title{
        margin-left: 1.8vw;
    }
}
.nav{ 
    background-color: $black;
    width: 100%;
    grid-area: nav;
    margin-left: auto;
    div{
        margin: 0;
        button{
            top: 5px;
            right: 5px;
            position: absolute;
        }
        div{
            margin: 0;
            ul{
                text-align: center;
                width: 100%;
                justify-content: flex-end;
                li{
                    a{
                        color: $white;
                        
                        background-image: radial-gradient(red,yellow);
                        background-position: 0% 100%;
                        background-size: 0% 0%, 2.5px;
                        transition:.3s;
                        &:hover{
                            color:$green;
                            font-size: 20px;
                            background-size: 100% 1px;
                        }
                        &:after{
                            background-size: 100% 0%,2.5px;
                        }
                    }
                }
            }
        }
        }
    } 

@media(max-width:990px){
    .nav{
        max-width: 100vw;  
        min-height: 50px;
        ul{
            height: calc(100vh/3.3);
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
}
