.grid{
    background-color: $rifle-green;
}
.grid{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: "header nav"
    "main main"
    "footer footer";
}
.main{
    grid-area: main;
    padding-top: 20px;
    padding-bottom: 20px;
    color:$white;
    @for $i from 1 through 3{
        .section#{$i}{
            width: 100%;
            @include sections(flex, row-reverse, wrap);
            .div--img{
                @include img(90%, 700px,auto);
                img{
                    width: 100%;
                }
            }
            .div--lorem{
                @include lorem(540px,auto,center);
                width: 90%;
            }
        }
        .section2{
            flex-direction: row;
        }
    }
}

@media (max-width:990px){
    .grid{
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-areas: "header header"
        "nav nav"
        "main main"
        "footer footer";
    }
}