@mixin sections($display,$flex-direction,$flex-wrap){
    display:$display;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}
@mixin img($width,$max-width,$margin){
    width: $width;
    max-width: $max-width;
    margin: $margin;
}
@mixin lorem($max-width,$margin,$text-align){
    max-width: $max-width;
    margin: $margin;
    text-align: $text-align;
}