$black:#080407;
$dark-purple:#351C29;
$rifle-green:#52513C;
$pnthalo-green:#1E3A2E;
$royal-blue:#15215A;
$white:white;
$green:green;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@300&family=Tangerine:wght@700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-weight: 400;
}
@import "mixin";
@import "header";
@import "footer";
@import "main-index";
@import "herramientas";
@import "sobre-mi";
@import "educacion";
@import "contacto";