@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@300&family=Tangerine:wght@700&display=swap');
@import "mixin";
*{
    margin: 0;
    padding: 0;
}
.grid{
    background-color: bisque;
}
.header{
    grid-area: header;
    display: flex;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    .header--logo{
        max-width: 60px;
        height: 56px;
    }
    .header--title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
.nav{ 
    background-color: black;
    width: 100%;
    max-width: 225px;
    min-height: 50px;
    margin-left: auto;
    grid-area: nav;
    div{
        margin-top: 15px;
        button{
            top: 5px;
            right: 5px;
            position: absolute;
        }
        div{
            ul{
                text-align: center;
                width: 100%;
                li{
                    
                    a{
                        color: white;
                    }
                }
            }
        }
        }
    } 

.main{
    grid-area: main;
    padding-top: 20px;
    padding-bottom: 20px;
    @for $i from 1 through 3{
        .section#{$i}{
            width: 100%;
            @include sections(flex, row-reverse, wrap);
            .div--img{
                @include img(90%, 700px,auto);
                img{
                    width: 100%;
                }
            }
            .div--lorem{
                @include lorem(540px,auto,center);
                width: 90%;
            }
        }
        .section2{
            flex-direction: row;
        }
    }
}

.footer{
    grid-area: footer;
    background-color: black;
    padding-bottom: 10px;
    text-align: center;
    h3{
        padding-top: 5px;
        color: white;
    }
}

@media (max-width:990px){
    .grid{
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-areas: "header header"
        "nav nav"
        "main main"
        "footer footer";
    }
    .nav{
        max-width: 100vw;  
        ul{
            height: calc(100vh/5);
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
}
@media (min-width:999px){
    .grid{
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-areas: "header nav"
        "main main"
        "footer footer";
    }
    .nav{
        max-width: none;
        div{
            margin: 0;
            div{
                margin: 0;
                ul{
                    margin-left: auto;
                }
            }
        }
    }
}