@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@300&family=Tangerine:wght@700&display=swap');
@import "mixin";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    .header--logo{
        max-width: 60px;
        height: 56px;
    }
    .header--title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .nav{
        width: 100%;
        margin-left: auto;
        ul{
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                font-size: 20px;
                display: inline-block;
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    transition: .4s;
                    &:hover{
                        font-size: 23px;
                        color: green;
                    }
                }
            }
        }
    }
}
main{
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 20px;
    @for $i from 1 through 3{
        .section#{$i}{
            width: 100%;
            @include sections(flex, row-reverse, wrap);
            .div--img{
                @include img(90%, 700px,auto);
                img{
                    width: 100%;
                }
            }
            .div--lorem{
                @include lorem(540px,auto,center);
                width: 90%;
            }
        }
        .section2{
            flex-direction: row;
        }
    }
}

footer{
    background-color: black;
    padding-bottom: 10px;
    text-align: center;
    h3{
        padding-top: 5px;
        color: white;
    }
}

@media (max-width:768px){
    .nav{
        ul{
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
}